footer.footer
    .footer__icon
        i.fab.fa-youtube
<<<<<<< HEAD
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy; 
=======
    span.footer__text &copy; #{new Date().getFullYear()} WeTube
>>>>>>> b3c1e9728956591cf4a3e1f97f1d17fdc4fe44c2
