.social-login
<<<<<<< HEAD
    button.social-login--github
        span
            i.fab.fa-github 
        |Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook 
        |Continue with Facebook
=======
    button
        span
            i.fab.fa-github
        | Continue with Github
    button
        span
            i.fab.fa-facebook
        | Continue with Facebook
>>>>>>> b3c1e9728956591cf4a3e1f97f1d17fdc4fe44c2
